/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
  padding-bottom: 3.157rem; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
## Colophon
--------------------------------------------------------------*/
#colophon {
  background: #233237; }
  #colophon #footer-about {
    padding: 3.157rem 30px;
    width: 100%;
    max-width: 900px; }
    #colophon #footer-about h4 {
      margin-top: 0;
      margin-bottom: 1rem;
      color: #fefefe; }
    #colophon #footer-about p {
      margin: 0;
      color: #fefefe; }
    #colophon #footer-about ul {
      margin: 0;
      padding: 1rem 0;
      list-style: none; }
      #colophon #footer-about ul li {
        display: inline-block;
        float: left;
        margin-right: 0.75rem; }
      #colophon #footer-about ul a, #colophon #footer-about ul a:visited {
        color: #fefefe;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        font-size: 1.333rem; }
        #colophon #footer-about ul a:hover, #colophon #footer-about ul a:visited:hover {
          color: #EAC67A; }
  #colophon #site-info {
    padding: 1rem 30px;
    border-top: 1px solid rgba(254, 254, 254, 0.25); }
    #colophon #site-info #copyright {
      color: #fefefe; }

/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#ms-home-hero {
  width: 100%;
  height: 750px;
  max-height: 100vh;
  background: #EAC67A;
  overflow: hidden; }
  #ms-home-hero .ms-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100%; }
  #ms-home-hero .ms-hero-content {
    margin: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #ms-home-hero h1 {
    font-size: calc( 3.157rem * 1.5);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 0; }
    #ms-home-hero h1:before {
      content: "//"; }
    @media screen and (max-width: 1069px) {
      #ms-home-hero h1 {
        font-size: calc(3.157rem * 1.2); } }
    @media screen and (max-width: 820px) {
      #ms-home-hero h1 {
        font-size: 2.369rem; } }
  #ms-home-hero p {
    font-size: 3.157rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fefefe;
    margin: 0; }
    @media screen and (max-width: 820px) {
      #ms-home-hero p {
        font-size: 1.777rem; } }

/*--------------------------------------------------------------
# Hook
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
#ms-skills {
  width: 100%;
  background: #fefefe; }
  #ms-skills .ms-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  #ms-skills #ms-skills-chart {
    width: 100%;
    height: 385px;
    padding: 1rem;
    margin-bottom: 3.157rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    @media screen and (min-width: 481px) {
      #ms-skills #ms-skills-chart {
        width: 40%;
        min-width: 400px;
        max-width: 800px; } }
  #ms-skills #ms-skills-image {
    width: 100%;
    min-height: 385px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 1rem;
    margin-bottom: 3.157rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 600px;
            flex: 1 1 600px; }
    #ms-skills #ms-skills-image:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(35, 50, 55, 0.45);
      z-index: 0; }
    #ms-skills #ms-skills-image p {
      position: relative;
      display: block;
      margin: 1rem auto;
      padding: 0.422rem;
      width: 100%;
      background: #18121E;
      color: #fefefe;
      font-size: 1.777rem;
      z-index: 1; }
      #ms-skills #ms-skills-image p:first-of-type {
        font-size: 2.369rem;
        font-weight: bold; }

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
#ms-home-projects {
  padding: 0 0 3.157rem 0; }
  #ms-home-projects h2 {
    display: block;
    width: 100%;
    text-align: center; }
  #ms-home-projects #ms-projects-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
  #ms-home-projects .project {
    display: block;
    padding: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 320px;
            flex: 1 1 320px;
    position: static;
    min-height: 250px;
    max-width: 360px; }
  #ms-home-projects .project-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #18121E;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer; }
    #ms-home-projects .project-wrap:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(35, 50, 55, 0.75); }
    #ms-home-projects .project-wrap .project-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 0;
      -webkit-transition: width .2s ease-in-out, -webkit-transform .2s ease-in-out;
      transition: width .2s ease-in-out, -webkit-transform .2s ease-in-out;
      -o-transition: width .2s ease-in-out, transform .2s ease-in-out;
      transition: width .2s ease-in-out, transform .2s ease-in-out;
      transition: width .2s ease-in-out, transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }
    #ms-home-projects .project-wrap .project-title {
      position: relative;
      display: inline-block;
      margin: 1rem;
      padding: 0.422rem;
      width: auto;
      color: #fefefe;
      font-size: 1rem;
      z-index: 1;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      #ms-home-projects .project-wrap .project-title h4 {
        margin: 0;
        text-align: center; }
      #ms-home-projects .project-wrap .project-title:after {
        content: "Click for more info";
        opacity: 0;
        font-size: 1.333rem;
        font-weight: bold;
        color: #fefefe;
        text-align: center;
        z-index: 1;
        display: block;
        width: 100%;
        -webkit-transform: translateY(300%);
            -ms-transform: translateY(300%);
                transform: translateY(300%); }
    #ms-home-projects .project-wrap .project-description {
      display: block;
      opacity: 0;
      position: relative;
      z-index: 1; }
      #ms-home-projects .project-wrap .project-description p {
        display: block;
        margin: 0.75rem;
        padding: 0.422rem;
        width: auto;
        background: #18121E;
        color: #fefefe;
        font-size: 0.75rem;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
    #ms-home-projects .project-wrap .project-link {
      display: block;
      position: relative;
      z-index: 1;
      text-align: center;
      margin: 1rem;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      #ms-home-projects .project-wrap .project-link a {
        display: inline-block;
        border: 2px solid #984B43;
        color: #fefefe;
        background: #984B43;
        text-decoration: none;
        letter-spacing: 2pt;
        border-radius: 4px;
        padding: 0.563rem 1rem 0.422rem 1rem; }
    #ms-home-projects .project-wrap:hover:not(.zoom) .project-title:after {
      opacity: .8; }
    #ms-home-projects .project-wrap:hover:not(.zoom) .project-image {
      width: 120%;
      -webkit-transform: translateX(-8%);
          -ms-transform: translateX(-8%);
              transform: translateX(-8%); }
    #ms-home-projects .project-wrap:hover:not(.zoom) .product-description {
      opacity: 1; }
    #ms-home-projects .project-wrap.zoom {
      position: absolute;
      width: 100%;
      height: 800px;
      max-height: 100vh;
      left: 0;
      bottom: 0;
      overflow: visible;
      z-index: 1000;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      #ms-home-projects .project-wrap.zoom:after {
        content: none; }
      #ms-home-projects .project-wrap.zoom .project-image {
        position: relative;
        overflow-y: scroll;
        z-index: 2; }
        #ms-home-projects .project-wrap.zoom .project-image img {
          width: 100%; }
      #ms-home-projects .project-wrap.zoom .project-link {
        opacity: 1; }
      #ms-home-projects .project-wrap.zoom .project-description {
        opacity: 1; }
        #ms-home-projects .project-wrap.zoom .project-description p {
          font-size: 1.333rem; }

/*--------------------------------------------------------------
# Page (default)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Hero
--------------------------------------------------------------*/
#ms-page-hero {
  width: 100%;
  height: 500px;
  max-height: 100vh;
  background: #EAC67A;
  overflow: hidden; }
  #ms-page-hero .ms-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100%; }
  #ms-page-hero .ms-hero-content {
    margin: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #ms-page-hero h1 {
    font-size: calc( 3.157rem * 1.5);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 0; }
    #ms-page-hero h1:before {
      content: "//"; }
    @media screen and (max-width: 1069px) {
      #ms-page-hero h1 {
        font-size: calc(3.157rem * 1.2); } }
    @media screen and (max-width: 820px) {
      #ms-page-hero h1 {
        font-size: 2.369rem; } }
  #ms-page-hero p {
    font-size: 3.157rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fefefe;
    margin: 0; }
    @media screen and (max-width: 820px) {
      #ms-page-hero p {
        font-size: 1.777rem; } }

/*--------------------------------------------------------------
## Page
--------------------------------------------------------------*/
.ms-hook {
  background: #fefefe; }
  .ms-hook .ms-content {
    padding: 3.157rem 0; }
    .ms-hook .ms-content h2 {
      font-size: 3.157rem;
      font-weight: 400;
      color: #233237;
      margin: 0; }
    .ms-hook .ms-content p {
      font-size: 1.777rem;
      color: #233237;
      margin-bottom: 0; }

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Project List
--------------------------------------------------------------*/
#ms-projects {
  padding: 0 0 3.157rem 0; }
  #ms-projects .project {
    margin-bottom: 3.157rem; }
  #ms-projects .project-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  #ms-projects .project-details {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 320px;
            flex: 1 1 320px;
    min-width: 320px;
    padding-right: 1rem;
    margin-bottom: 1rem; }
    #ms-projects .project-details .project-title,
    #ms-projects .project-details .project-description {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0 1rem 0 0; }
    #ms-projects .project-details .project-link {
      width: 100%;
      text-align: center; }
      #ms-projects .project-details .project-link a, #ms-projects .project-details .project-link a:visited {
        display: inline-block;
        border: 2px solid #984B43;
        color: #fefefe;
        background: #984B43;
        text-decoration: none;
        letter-spacing: 2pt;
        border-radius: 4px;
        padding: 0.563rem 1rem 0.422rem 1rem; }
  #ms-projects .project-image {
    position: relative;
    overflow-y: scroll;
    width: 60%;
    min-height: 400px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    #ms-projects .project-image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.ms-wrap {
  width: 100%;
  max-width: 1220px;
  display: block;
  margin: 0 auto;
  padding: 0 30px; }
  @media screen and (max-width: 480px) {
    .ms-wrap {
      padding: 0 15px; } }

/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/
#ms-home-hero {
  width: 100%;
  height: 750px;
  max-height: 100vh;
  background: #EAC67A;
  overflow: hidden; }
  #ms-home-hero .ms-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100%; }
  #ms-home-hero .ms-hero-content {
    margin: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #ms-home-hero h1 {
    font-size: calc( 3.157rem * 1.5);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 0; }
    #ms-home-hero h1:before {
      content: "//"; }
    @media screen and (max-width: 1069px) {
      #ms-home-hero h1 {
        font-size: calc(3.157rem * 1.2); } }
    @media screen and (max-width: 820px) {
      #ms-home-hero h1 {
        font-size: 2.369rem; } }
  #ms-home-hero p {
    font-size: 3.157rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fefefe;
    margin: 0; }
    @media screen and (max-width: 820px) {
      #ms-home-hero p {
        font-size: 1.777rem; } }
