html {
	box-sizing: border-box;
	font-size: responsive 14px 18px;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */

	&.toggled {
		overflow: hidden;
	}
}

#page-primary {
	background: $white;
	transition: all .2s ease-in-out;

	&.toggled {
		transform: translateX(-250px);
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $sizing-l;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

p, span, em, li {
	font-size: $sizing-m;
}

h1 {
	font-size: $sizing-jumbo;
}

h2 {
	font-size: $sizing-xxl;
}

h3 {
	font-size: $sizing-xl;
}

h4 {
	font-size: $sizing-l;
}

h5 {
	font-size: $sizing-m;
}

h6 {
	font-size: $sizing-s;
}

@import "tables";
