#ms-skills {
  width: 100%;

  .ms-content {
    display: flex;
    flex-flow: row wrap;
  }

  #ms-skills-chart {
    width: 100%;

    @media screen and (min-width: 481px) {
      width: 40%;
      min-width: 480px;
    }
  }

  #ms-skills-image {
    width: 100%;
    background-size: cover;

    @media screen and (min-width: 481px) {
      width: 60%;
    }
  }
}