.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
	padding-bottom: $sizing-jumbo;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
