$size__site-main: 100%;
$size__site-sidebar: 25%;

$sizing-jumbo: 3.157rem;            // 57px
$sizing-xxl: 2.369rem;				// 42px
$sizing-xl: 1.777rem;				// 32px
$sizing-l: 1.333rem;				// 24px
$sizing-m: 1rem; 					// 18px
$sizing-s: 0.75rem;					// 13.5px
$sizing-xs: 0.563rem;               // 10px
$sizing-xxs: 0.422rem;              // 7.5px
$sizing-tiny: .3rem;                // 5.4px
